header {
  z-index: 1;
}
@keyframes headerdown{
  0%{
    transform: translateY(-40px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
header .wrap {
  position: relative;
}
@keyframes widthfull{
  100%{
    width: 100%;
  }
}
header .wrap nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
}
header .wrap nav h1 {
  height: 100%;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
header .wrap nav h1::before{
 content: "";  
 width: 21px;
 height: 40px;
 display: block;
 background-image: url(../img/hite.png);
 background-repeat: no-repeat;
 background-position: center;
 margin-right: 7px;
 margin-top: 20px;
}
header .wrap nav h1:hover::before{
}
header .wrap nav h1 a {
  color: #109ad6;
  height: 100%;
  display: block;
  position: relative;
  line-height: 4;
}
header .wrap nav h1 a span {
  
  font-size: 0;
  width: 68px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}
header .wrap nav ul.gnb {
  
  width: 70%;
  display: flex;
  justify-content: space-around;
  height: 67px;
}
header .wrap nav ul.gnb li {
  
}
header .wrap nav ul.gnb li a {
  padding: 0 15px;
  line-height: 4;
  display: block;
  border-top: 2px solid transparent;
  font-size: 15px;
  font-weight: 400;
  height: 80%;
}
header .wrap nav ul.gnb li a:hover{
  content: "";
  border-bottom: 2px solid blue;
}

header .wrap nav ul.enb {
  
  width: calc(30% - 55px);
  justify-content: end;
}
header .wrap nav ul.enb li {
  
  font-size: 13px;
}
header .wrap nav ul.enb li a {
  padding: 0 9px;
  line-height: 2;
  display: inline-block;
  position: relative;
  font-weight: 300;
}
header .wrap nav ul.enb li a:hover {
  color: blue;
}
header .wrap nav ul.enb li:nth-child(1) a::after,header .wrap nav ul.enb li:nth-child(2) a::after{
  content: "";
  border-right: 1px solid #666;
  height: 8px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: calc(50% - 3px);
}
header .wrap nav div.lan{
  
  width: 70px;
  height: 70px;
  position: absolute;
  right: 8px;
  bottom: -55px;
  border: 1px solid #999999;
  text-align: center;
  font-size: 13px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .wrap nav div.lan ul{
  
}
header .wrap nav div.lan ul li{
  
  margin-bottom: 7px;
  color: #999999;
}
div.wgnb {
  position: absolute;
  left: 0;
  top: 147px;
  width: 100%;
  background-color: rgba(4, 69, 244, .85);
  z-index: 1;
}
div.wbox div.wgnb:nth-of-type(1){
  
}
div.wgnb div.center {
  
  width: 1000px;
  margin: 0 auto;
  justify-content: center;
}
div.wgnb div.center div.wsub {
  width: 170px;
  padding: 40px 0;
}
div.wgnb div.center div.wsub:not(:last-child){
  border-right:1px solid #eeeeee; 
}
div.wgnb div.center div.wsub:nth-child(3){
  width: 123.8px;
}
div.wgnb div.center div.wsub h2 {
  
margin-bottom: 15px;
font-size: 14px;
color: white;
text-align: center;
}
div.wgnb div.center div.wsub ul {
  
}
div.wgnb div.center div.wsub ul li {
  
}
div.wgnb div.center div.wsub ul li a {
  color: white;
  font-size: 12px;
  display: inline-block;
}
div.wgnb div.center div.wsub ul li a:hover{
border-bottom: 1px solid;
}