div#subtitle {
  min-height: 430px;
}
div#subtitle .wrap {
  max-width: 100%;
  position: relative;
  height: 100%;
}
div#subtitle .wrap img{
  width: 100%;
}
div#subtitle .wrap button{
  
}
div#subtitle .wrap .slick-prev{
  left: 420px;
  width: 50px;
  height: 50px;
  background-image: url(../img/prev.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}
div#subtitle .wrap .slick-next{
  right: 420px;
  width: 55px;
  height: 55px;
  background-image: url(../img/next.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: white;
  border-radius: 50%;
  opacity: 0.6;
}






